Repository groupbwt-admin/spindle-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: create folder structure
  src/app/App.css
  src/app/App.js
  src/app/App.test.js
  src/index.js
Due: prettier --write

feat: add api and auth methods
  src/app/api/auth-api/auth-api.ts
  src/index.js
  src/modules/auth/components/auth-slider.tsx
  src/modules/auth/pages/forgot-password/forgot-password.tsx
  src/modules/auth/pages/login/login.tsx
  src/modules/auth/pages/new-password/components/new-password-form.tsx
  src/modules/auth/pages/new-password/new-password.tsx
  src/modules/auth/pages/register/components/register-form.tsx
  src/modules/auth/pages/set-up-profile/components/set-up-profile-form.tsx
  src/modules/auth/pages/set-up-profile/set-up-profile.tsx
  src/modules/videos/pages/home.tsx
  src/shared/components/icon/collection/record.svg
  src/shared/components/input/input.tsx
  src/shared/components/tabs/tab.tsx
  src/shared/components/tabs/tabs-list.tsx
  src/shared/config/variables.ts
  src/shared/layout/components/app-menu.tsx
  src/shared/layout/main-layout.tsx
  src/shared/services/base-http-services.ts
Due: eslint --fix, prettier --write

feat: add node version
  package.json
Due: prettier --write

n
  package.json
  src/index.js
Due: prettier --write

added Envoy.blade.php, .gitlab-ci.yml
  .gitlab-ci.yml
  Envoy.blade.php
Due: none

refactor: del node version
  package.json
Due: prettier --write

feat: update dependencies
  package-lock.json
  package.json
Due: prettier --write

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

feat: add config.toml
  config.toml
Due: none

feat: update gitlab
  .gitlab-ci.yml
Due: none

feat: update gitlab-ci
  .gitlab-ci.yml
Due: none

fix: sending verification token
  src/app/api/auth-api/auth-api.ts
  src/app/config/axios/axios.ts
  src/shared/types/token.ts
Due: eslint --fix, prettier --write

feat: del unnecessary
  config.toml
Due: none

feat: update eslintrc
  .eslintrc
Due: none

feat: add env.example
  .env.example
Due: none

feat: add google auth
  .env.example
  package-lock.json
  package.json
  src/index.d.ts
  src/modules/auth/pages/login/components/login-form.tsx
  src/modules/auth/pages/register/components/register-form.tsx
  src/shared/components/button/button.tsx
  src/shared/components/google-button/google-button.tsx
  src/shared/config/variables.ts
  src/shared/hooks/use-google-login.ts
  src/shared/utils/script-helper.ts
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: eslint --fix, prettier --write

refactor: loading state
  src/shared/hooks/use-google-login.ts
Due: eslint --fix, prettier --write

refactor: upgrade google api
  package-lock.json
  package.json
  src/index.d.ts
  src/shared/hooks/use-google-login.ts
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: eslint --fix, prettier --write

refactor: onSuccess
  src/shared/hooks/use-google-login.ts
Due: eslint --fix, prettier --write

refactor: onSuccess
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: eslint --fix, prettier --write

refactor: replace width with max-width
  src/modules/auth/pages/forgot-password/components/forgot-password-form.tsx
  src/modules/auth/pages/forgot-password/forgot-password.tsx
  src/modules/auth/pages/login/components/login-form.tsx
  src/modules/auth/pages/login/login.tsx
  src/modules/auth/pages/new-password/components/new-password-form.tsx
  src/modules/auth/pages/new-password/new-password.tsx
  src/modules/auth/pages/register/components/register-form.tsx
  src/modules/auth/pages/register/register.tsx
  src/modules/auth/pages/set-up-profile/components/set-up-profile-form.tsx
  src/modules/auth/pages/set-up-profile/set-up-profile.tsx
Due: eslint --fix, prettier --write

refactor: spinner color
  src/shared/components/button/button.tsx
Due: eslint --fix, prettier --write

feat: add google auth endpoint
  src/app/api/auth-api/auth-api.ts
  src/shared/hooks/use-google-login.ts
  src/shared/types/user.ts
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: eslint --fix, prettier --write

feat: update eslint
  .eslintrc
Due: none

chore: clean up
  src/app/store/auth/state.ts
Due: eslint --fix, prettier --write

feat: test component VideoJSComponent
  package-lock.json
  package.json
  src/modules/videos/components/VideoJSComponent.tsx
  src/modules/videos/hooks/useRecording.ts
  src/modules/videos/pages/home.tsx
Due: eslint --fix, prettier --write

refactor: change default value of uxMode
  src/shared/hooks/use-google-login.ts
Due: eslint --fix, prettier --write

feat: wrap by AuthGuard
  src/app/routes/index.tsx
Due: eslint --fix, prettier --write

refactor: a way of getting access_token
  src/app/api/auth-api/auth-api.ts
  src/app/auth-guard.tsx
  src/shared/hooks/use-google-login.ts
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: eslint --fix, prettier --write

feat: add verify email page
  src/app/routes/index.tsx
  src/modules/auth/pages/verify-email/verify-email.tsx
  src/shared/config/routes.ts
Due: eslint --fix, prettier --write

refactor: pixel perfect
  src/modules/auth/pages/login/components/login-form.tsx
  src/modules/auth/pages/login/login.tsx
Due: eslint --fix, prettier --write

feat: add getting user profile
  src/app/api/user-api/user-api.ts
  src/shared/layout/main-layout.tsx
Due: eslint --fix, prettier --write

feat: add fullWidth prop
  src/shared/components/button/button.tsx
Due: eslint --fix, prettier --write

refactor: pixel perfect
  src/modules/auth/components/auth-slider.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.{ts,tsx,js,jsx,scss,css,json}
