Repository groupbwt-admin/spindle-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.{ts,tsx,js,jsx,scss,css,json}": "prettier --write"
}

feat: added get request for last recorded video
  src/app/api/video-api/video-api.ts
  src/modules/videos/hooks/useSocketStream.ts
  src/shared/constants/query-keys.ts
Due: prettier --write, eslint --fix

refactor: remove request getlastvideo and added callback fn in emit save
  src/app/api/video-api/video-api.ts
  src/modules/videos/hooks/useRecording.ts
  src/modules/videos/hooks/useSocketStream.ts
  src/modules/videos/pages/video/video-page.tsx
Due: prettier --write, eslint --fix

fix: replace hardcoded url
  src/modules/videos/pages/video/video-page.tsx
Due: prettier --write, eslint --fix

feat: add profile page
  package.json
  src/app/api/video-api/video-api.ts
  src/app/routes/video-routes.tsx
  src/index.tsx
  src/modules/user/pages/profile.tsx
  src/shared/components/icon/collection/comments.svg
  src/shared/components/icon/collection/edit-profile.svg
  src/shared/components/icon/collection/search.svg
  src/shared/components/icon/collection/views.svg
  src/shared/components/icon/icon-list.ts
  src/shared/components/input/input.tsx
  src/shared/components/search-input/search-input.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/config/routes.ts
  src/shared/constants/query-keys.ts
Due: prettier --write, eslint --fix

feat: added socket servesiceьmoved all socket methods to store
  src/app/api/video-api/video-api.ts
  src/app/store/video/selects.ts
  src/app/store/video/state.ts
  src/modules/videos/hooks/useRecording.ts
  src/modules/videos/hooks/useSocket.ts
  src/modules/videos/hooks/useSocketStream.ts
  src/shared/constants/record-statuses.ts
  src/shared/constants/socket-action-names.ts
  src/shared/services/base-socket-service.ts
Due: prettier --write, eslint --fix

feat: rewrite socket service to classse , create methods in socket store for work with socket and method for mute/unmute microphone
  src/app/store/record-socket/state.ts
  src/app/store/video/selects.ts
  src/app/store/video/state.ts
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/hooks/use-stop-watch.ts
  src/modules/videos/hooks/useRecording.ts
  src/modules/videos/pages/home.tsx
  src/shared/constants/query-keys.ts
  src/shared/constants/record-statuses.ts
  src/shared/constants/socket-action-names.ts
  src/shared/services/base-socket-service.ts
Due: prettier --write, eslint --fix

refactor
  src/app/store/record-socket/state.ts
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/hooks/use-stop-watch.ts
  src/modules/videos/pages/home.tsx
  src/shared/config/variables.ts
  src/shared/services/base-socket-service.ts
Due: prettier --write, eslint --fix

refactor
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/hooks/use-stop-watch.ts
Due: prettier --write, eslint --fix

feat: countdown before start recording video
  src/modules/videos/components/record-controller.tsx
  src/modules/videos/countdown.tsx
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/pages/home.tsx
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

feat: add variables
  .env.example
Due: none

feat: record controller
  package-lock.json
  package.json
  src/app/store/record-socket/selects.ts
  src/app/store/record-socket/state.ts
  src/modules/videos/components/controller.tsx
  src/modules/videos/components/countdown.tsx
  src/modules/videos/components/record-controller.tsx
  src/modules/videos/components/start-record-button.tsx
  src/modules/videos/components/stop-watch.tsx
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/hooks/use-stop-watch.ts
  src/shared/components/icon/collection/microphone-off.svg
  src/shared/components/icon/collection/microphone.svg
  src/shared/components/icon/collection/pause.svg
  src/shared/components/icon/collection/reset.svg
  src/shared/components/icon/collection/resume.svg
  src/shared/components/icon/collection/stop.svg
  src/shared/components/icon/icon-list.ts
  src/shared/constants/record-statuses.ts
  src/shared/layout/main-layout.tsx
  src/shared/utils/event-bus.ts
Due: prettier --write, eslint --fix

refactor
  src/app/store/record-socket/state.ts
  src/modules/videos/components/controller.tsx
  src/modules/videos/components/record-controller.tsx
  src/modules/videos/components/stop-watch.tsx
  src/modules/videos/hooks/use-recording.ts
Due: prettier --write, eslint --fix

feat: add video list
  src/app/api/video-api/video-api.ts
  src/app/routes/video-routes.tsx
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/video-card/video-card.tsx
  src/shared/components/video-list-skeleton/video-list-skeleton.tsx
  src/shared/hooks/use-effect-after-mount.ts
  src/shared/hooks/use-filter-request.ts
  src/shared/hooks/use-first-render.ts
  src/shared/types/video.ts
Due: prettier --write, eslint --fix

feat: add video action menu
  package-lock.json
  package.json
  src/modules/user/pages/profile.tsx
  src/modules/user/pages/profile/components/action-panel.tsx
  src/modules/user/pages/profile/profile.tsx
  src/shared/components/button/icon-button.tsx
  src/shared/components/checkbox/checkbox.tsx
  src/shared/components/icon/collection/action-menu.svg
  src/shared/components/icon/collection/copy-link.svg
  src/shared/components/icon/collection/delete.svg
  src/shared/components/icon/collection/download.svg
  src/shared/components/icon/collection/settings.svg
  src/shared/components/icon/icon-list.ts
  src/shared/components/search-input/search-input.tsx
  src/shared/components/video-card/action-menu.tsx
  src/shared/layout/app-layout.tsx
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

feat: add video list empty state
  src/shared/assets/images/empty-state.svg
  src/shared/components/empty-video-llist/empty-video-list.tsx
  src/shared/components/fetch-linear-loader/fetch-linear-loader.tsx
Due: prettier --write, eslint --fix

feat: fix page when searching
  src/modules/user/pages/profile/use-profile.ts
Due: prettier --write, eslint --fix

fix: refactor
  src/app/api/video-api/video-api.ts
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/assets/images/no-preview-placeholder.png
  src/shared/components/search-input/search-input.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/constants/query-keys.ts
Due: prettier --write, eslint --fix

fix: refactor
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/video-card/video-card.tsx
  src/shared/constants/request-sort-type.ts
  src/shared/layout/app-layout.tsx
Due: prettier --write, eslint --fix

fix bag whith render
  src/app/store/record-socket/selects.ts
  src/app/store/record-socket/state.ts
  src/modules/videos/components/controller.tsx
  src/modules/videos/components/record-controller.tsx
  src/modules/videos/components/start-record-button.tsx
  src/modules/videos/components/stop-watch.tsx
  src/modules/videos/hooks/use-recording.ts
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

feat: add sorting component
  package-lock.json
  package.json
  src/app/api/video-api/video-api.ts
  src/index.tsx
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/button/button.tsx
  src/shared/components/checkbox/checkbox.tsx
  src/shared/components/filter/filter.tsx
  src/shared/components/icon/collection/chevron-down.svg
  src/shared/components/icon/collection/default-sort.svg
  src/shared/components/icon/collection/filter.svg
  src/shared/components/icon/collection/sort-down-arrow.svg
  src/shared/components/icon/collection/sort-up-arrow.svg
  src/shared/components/icon/icon-list.ts
  src/shared/components/sort-dropdown/sort-dropdown.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/constants/query-keys.ts
  src/shared/hooks/use-filter-request.ts
  src/shared/types/video.ts
Due: prettier --write, eslint --fix

feat: add filter component
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/calendar/calendar.tsx
  src/shared/components/filter/filter.tsx
  src/shared/components/icon/collection/сalendar.svg
  src/shared/components/icon/icon-list.ts
  src/shared/components/video-card/video-card.tsx
Due: prettier --write, eslint --fix

fix: refactor
  src/app/api/video-api/video-api.ts
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/filter/filter.tsx
  src/shared/components/sort-dropdown/sort-dropdown.tsx
  src/shared/types/video.ts
Due: prettier --write, eslint --fix

fix: refactor
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/filter/filter.tsx
Due: prettier --write, eslint --fix

fix: fix cards hover effect
  src/shared/components/video-card/video-card.tsx
  src/shared/types/video.ts
Due: prettier --write, eslint --fix

fix: refactor
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/calendar/date-picker.tsx
  src/shared/components/filter/filter.tsx
Due: prettier --write, eslint --fix

feat: add copy link functionality
  src/app/api/video-api/video-api.ts
  src/shared/components/video-card/action-menu.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/config/routes.ts
Due: prettier --write, eslint --fix

feat: react control panel, wrapper for controller , record context provider, useRecord cotext, useRecorVideo
  src/modules/videos/components/countdown.tsx
  src/modules/videos/components/record-controll-panel.tsx
  src/modules/videos/components/record-controller.tsx
  src/modules/videos/components/start-record-button.tsx
  src/modules/videos/components/wrapper-record-controller.tsx
  src/modules/videos/context/recordContext.ts
  src/modules/videos/hooks/use-record-context.ts
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/pages/home.tsx
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

feat: update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: checking expiration time of token
  src/index.tsx
Due: prettier --write, eslint --fix

refactor: replace proxyWithComputed with proxy
  src/app/store/auth/state.ts
  src/app/store/user/state.ts
Due: prettier --write, eslint --fix

fix: pars expiration token time
  src/index.tsx
Due: prettier --write, eslint --fix

feat: add import order rules
  .eslintrc
  .prettierrc.js
  package-lock.json
  package.json
Due: prettier --write

feat: add "import" to plugins
  .eslintrc
Due: none

feat: import/resolver settings
  .eslintrc
Due: none

feat: update import/resolver settings
  .eslintrc
Due: none

refactor: delete eslint import rules
  .eslintrc
Due: none

refactor: revert import/resolver rules
  .eslintrc
Due: none

refactor: delete unused variable
  src/app/store/auth/selects.ts
Due: prettier --write, eslint --fix
