Repository groupbwt-admin/spindle-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

refactor: delete duplicated interface
  src/app/api/auth-api/auth-api.ts
Due: prettier --write, eslint --fix

feat: update title
  public/index.html
Due: none

feat: update eslint rules
  .eslintrc
  .husky/pre-commit
  src/app/api/auth-api/auth-api.ts
  src/app/api/user-api/user-api.ts
  src/app/api/video-api/video-api.ts
  src/app/config/axios/axios.ts
  src/app/guards/auth-guard.tsx
  src/app/guards/with-email-verification.tsx
  src/app/guards/with-setup-profile.tsx
  src/app/routes/auth-routes.tsx
  src/app/routes/video-routes.tsx
  src/app/store/auth/state.ts
  src/app/store/user/state.ts
  src/index.tsx
  src/modules/auth/components/back-button.tsx
  src/modules/auth/pages/auth.tsx
  src/modules/auth/pages/login/components/login-form.tsx
  src/modules/auth/pages/login/login.tsx
  src/modules/auth/pages/must-verify-email/must-verify-email.tsx
  src/modules/auth/pages/new-password/components/new-password-form.tsx
  src/modules/auth/pages/new-password/new-password.tsx
  src/modules/auth/pages/register/components/register-form.tsx
  src/modules/auth/pages/register/register.tsx
  src/modules/auth/pages/set-up-profile/set-up-profile.tsx
  src/modules/auth/pages/verify-email/verify-email.tsx
  src/modules/user/components/edit-user-form.tsx
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/pages/video/video-page.tsx
  src/shared/components/filter/filter.tsx
  src/shared/components/input/file-input.tsx
  src/shared/components/input/password-input.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/hooks/use-effect-after-mount.ts
  src/shared/layout/app-layout.tsx
  src/shared/layout/components/user-menu.tsx
  src/shared/services/base-socket-service.ts
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: prettier --write, eslint --fix

feat: update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: add video deleting feature
  src/app/api/video-api/video-api.ts
  src/modules/user/pages/profile/components/action-panel.tsx
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/empty-video-llist/empty-video-list.tsx
  src/shared/components/modal/index.ts
  src/shared/components/modal/modal-root.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/components/video/modals/delete-video-modal.tsx
  src/shared/hooks/use-delete-video.tsx
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: prettier --write, eslint --fix

feat: add .gitattributes file
  .gitattributes
Due: none

feat: add deleting video
  package-lock.json
  src/app/api/video-api/video-api.ts
  src/modules/user/pages/profile/components/action-panel.tsx
  src/modules/user/pages/profile/components/video-list.tsx
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/empty-video-llist/empty-video-list.tsx
  src/shared/components/icon/icon-list.ts
  src/shared/components/modal/index.ts
  src/shared/components/modal/modal-root.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/components/video/modals/delete-video-modal.tsx
  src/shared/hooks/use-delete-video.tsx
  src/shared/widgets/google-auth-button/google-auth-button.tsx
Due: prettier --write, eslint --fix

feat: add pre-commit npm command
  package.json
Due: prettier --write

chore: clean up
  .eslintrc
Due: none

chore: prettier
  .eslintrc
Due: none

feat: add download video functionality
  package-lock.json
  package.json
  src/app/api/video-api/video-api.ts
  src/index.tsx
  src/modules/user/pages/profile/components/action-panel.tsx
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/shared/components/button/icon-button.tsx
  src/shared/components/video-card/video-card.tsx
Due: prettier --write, eslint --fix

feat: move controller
  src/app/store/record-socket/state.ts
  src/modules/videos/components/wrapper-record-controller.tsx
  src/modules/videos/context/record-context.ts
  src/modules/videos/hooks/use-record-context.ts
  src/modules/videos/hooks/use-recording.ts
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

refactor
  src/app/api/video-api/video-api.ts
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/modules/videos/pages/home.tsx
  src/modules/videos/pages/use-home.ts
  src/shared/components/table/action-panel.tsx
  src/shared/components/table/video-list.tsx
  src/shared/components/video-card/action-menu.tsx
  src/shared/components/video-card/video-card.tsx
Due: prettier --write, eslint --fix

refactoe: method wait, recording button style
  src/app/store/record-socket/selects.ts
  src/app/store/record-socket/state.ts
  src/modules/videos/components/countdown.tsx
  src/modules/videos/components/record-controll-panel.tsx
  src/modules/videos/components/wrapper-record-controller.tsx
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
  src/shared/constants/record-statuses.ts
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

refactor: remove component Controller
  package-lock.json
  package.json
  src/app/store/record-socket/selects.ts
  src/app/store/record-socket/state.ts
  src/modules/videos/components/controller.tsx
  src/modules/videos/components/start-record-button.tsx
  src/modules/videos/components/wrapper-record-controller.tsx
  src/modules/videos/hooks/use-record-context.ts
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/pages/home.tsx
  src/shared/components/icon/collection/drag-indicator.svg
  src/shared/components/icon/icon-list.ts
  src/shared/utils/event-bus.ts
Due: prettier --write, eslint --fix

feat: add action panel and video details
  src/app/api/video-api/video-api.ts
  src/modules/videos/pages/video/video-page.tsx
  src/shared/components/button/button.tsx
  src/shared/components/tags-autocomplete/tags-autocomplete.tsx
  src/shared/components/video-card/action-menu.tsx
  src/shared/constants/query-keys.ts
Due: prettier --write, eslint --fix

src/shared/assets/images/no-preview-placeholder.png
  src/shared/assets/images/no-preview-placeholder.png
Due: none

hotfix: fix tags fetching
  src/app/api/video-api/video-api.ts
  src/modules/user/pages/profile/profile.tsx
  src/modules/user/pages/profile/use-profile.ts
  src/modules/videos/pages/home.tsx
  src/modules/videos/pages/use-home.ts
  src/shared/components/filter/filter.tsx
Due: prettier --write, eslint --fix

refactor: main layout
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

feat: add tags autocomplete
  src/modules/videos/pages/video/video-page.tsx
  src/shared/components/icon/collection/close.svg
  src/shared/components/tags-autocomplete/tags-autocomplete.tsx
Due: prettier --write, eslint --fix

feat: fomat timer for video over an hour
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/hooks/use-stop-watch.ts
Due: prettier --write, eslint --fix

feat: add @types/downloadjs
  package-lock.json
  package.json
Due: prettier --write

feat: add use-event.ts hook
  src/shared/hooks/use-event.ts
Due: prettier --write, eslint --fix

test video cammer
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
Due: prettier --write, eslint --fix

refactor
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
  src/shared/layout/main-layout.tsx
Due: prettier --write, eslint --fix

refactor
  src/app/store/record-socket/state.ts
  src/modules/videos/components/record-controll-panel.tsx
  src/modules/videos/components/start-record-button.tsx
  src/modules/videos/components/stop-watch.tsx
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
  src/modules/videos/hooks/use-stop-watch.ts
  src/modules/videos/pages/home.tsx
Due: prettier --write, eslint --fix

feat: add .pre-commit-config.yaml
  .husky/commit-msg
  .husky/pre-commit
  .pre-commit-config.yaml
Due: none

feat: update pre-commit
  .husky/pre-commit
  package.json
Due: prettier --write

feat: update pre-commit rules
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  package.json
Due: prettier --write

fead: disabled logout and open-menu buttons if we recording video
  src/modules/videos/components/countdown.tsx
  src/modules/videos/hooks/use-record-video.tsx
  src/modules/videos/hooks/use-recording.ts
  src/shared/layout/components/app-menu.tsx
  src/shared/layout/components/user-menu.tsx
  src/shared/services/base-socket-service.ts
Due: prettier --write, eslint --fix

feat: disabled buttons oen-meni and logout if we recording video
  src/modules/videos/hooks/use-recording.ts
Due: prettier --write, eslint --fix

feat: added camera
  src/modules/videos/components/camera.tsx
  src/modules/videos/hooks/use-record-camera.ts
  src/modules/videos/hooks/use-record-video.tsx
Due: prettier --write, eslint --fix

feat: add copy link hook
  src/modules/videos/pages/video/video-page.tsx
  src/shared/components/video-card/action-menu.tsx
  src/shared/components/video-card/video-card.tsx
  src/shared/hooks/use-copy-link.ts
Due: prettier --write, eslint --fix

feat: add editable fields
  package-lock.json
  src/app/api/video-api/video-api.ts
  src/index.tsx
  src/modules/videos/pages/video/use-video.ts
  src/shared/components/button/icon-button.tsx
  src/shared/components/edit-input-field/edit-input-field.tsx
  src/shared/components/icon/collection/check.svg
  src/shared/components/icon/icon-list.ts
  src/shared/components/input/input.tsx
  src/shared/components/tags-autocomplete/tags-autocomplete.tsx
  src/shared/config/routes.ts
Due: prettier --write, eslint --fix

fix: fix filter tags display
  src/shared/components/filter/filter.tsx
Due: prettier --write, eslint --fix

refactor: clen up
  src/modules/videos/pages/video/video-page.tsx
  src/shared/components/tags-autocomplete/tags-autocomplete.tsx
Due: prettier --write, eslint --fix

fix: fix field focus
  src/shared/components/edit-input-field/edit-input-field.tsx
  src/shared/components/tags-autocomplete/tags-autocomplete.tsx
Due: prettier --write, eslint --fix

feat: add query params for home page
  package-lock.json
  package.json
  src/app/app.scss
  src/modules/user/pages/profile/use-profile.ts
  src/modules/videos/pages/home.tsx
  src/modules/videos/pages/use-home.ts
  src/shared/components/search-input/search-input.tsx
  src/shared/hooks/use-filter-request.ts
Due: prettier --write, eslint --fix

refactor: clean up
  src/shared/components/edit-input-field/edit-input-field.tsx
  src/shared/components/tags-autocomplete/tags-autocomplete.tsx
  src/shared/components/video-card/video-card.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{ts,tsx,js,jsx,scss,css,json})
  eslint --fix: any of: *.{ts,tsx}
